    <!-- importa arquivo header -->
    <%- include('partials/header.ejs'); %>

    <!-- importa arquivo nav -->
    <%- include('partials/nav.ejs'); %>

    <div class="container">
       
    </div>
    
    <!-- importa arquivo footer -->
    <%- include('partials/footer.ejs'); %>
