
  
  <%- include('../layout/control-sidebar.ejs'); %>
</div>

<div class="wrapper">
  <footer class="main-footer">
    <div class="pull-right hidden-xs"><b>Versão</b> 1.0.0</div>
    <strong
      >Copyright &copy; 2020
      <a href="https://github.com/dieissonmartins">Dieisson Martins</a>.</strong
    >
    
    Quase todos os direitos reservados.
  </footer>
</div>

  <%- include('../layout/js.ejs'); %>
</html>

